<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Connection string to database -->
    <!-- Integrated security uses your windows login -->
    <!-- It would be logical to put it in the dataaccesslayer. But when a winForm GUI tries run, it won't know about the connection string.
    Because it runs the connection string in the execution assembly -->
    <add name="MyConnection" connectionString="Server=.\SQLEXPRESS; Integrated Security=true; Initial Catalog=NoSoCoolShop" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>